body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f3f3f3;
}

header {
    background-color: #27a300;
    color: white;
    padding: 20px;
    text-align: center;
}

.search-container {
    display: flex;
    justify-content: center;
    margin: 20px;
}

#search-input {
    width: 300px;
    padding: 10px;
    font-size: 16px;
}

#search-btn {
    padding: 10px 20px;
    margin-left: 10px;
    font-size: 16px;
    cursor: pointer;
}

#result {
    text-align: center;
    margin-top: 20px;
    font-size: 18px;
}
